<nav class="navbar">
    <a routerLink="/product-list" class="nav-link">Notices</a>
    <a routerLink="/cart" class="nav-link">Reminder</a>
    <a routerLink="/about" class="nav-link">About</a>
  </nav><br>
<div class="container">
    <h1>About Notice Board</h1>
<p>Welcome to the Online Notice Board System, a streamlined, digital solution designed to enhance communication and information dissemination within your organization, community, or educational institution. Our system is engineered to provide a centralized platform for sharing announcements, updates, events, and other critical information in a timely and efficient manner.</p>
<p>The Online Notice Board System is an indispensable tool for modern organizations looking to improve their communication strategies. Whether you are managing a school, a corporate office, or a community group, our system offers the flexibility and features you need to keep everyone connected and informed.</p>
<p>Thank you for choosing our Online Notice Board System. We are committed to providing you with the best possible experience and are always here to support your needs. If you have any questions or need assistance, please do not hesitate to contact our support team.</p>
</div>
